web: gunicorn app:app --workers 1 --threads 1 --timeout 300 --graceful-timeout 300 --max-requests 100 --max-requests-jitter 10 --bind 0.0.0.0:$PORT --worker-class sync --worker-tmp-dir /dev/shm --preload